<div class="actions">
  <a href="/" data-action="trigger" data-trigger="1" class="btn">Trigger 1</a>
  <a href="/" data-action="trigger" data-trigger="2" class="btn">Trigger 2</a>
  <a href="/" data-action="trigger" data-trigger="3" class="btn">Trigger 3</a>
  <a href="/" data-action="trigger" data-trigger="4" class="btn">Trigger 4</a>
</div>