<div class="actions">
  <a href="/" data-action="play" class="btn">Play</a>
  <a href="/" data-action="controls" class="btn">LED Controls</a>
  <a href="/" data-action="about" class="btn">About</a>
</div>