<div class="page center">
  <div id="loading">
    <div id="connecting">
      <div class="loader"></div>
      <div class="logo"></div>
    </div>
    <p>Connecting to pinball machine</p>
  </div>
</div>