<h1>Servo Testing</h1>

<form action="/" method="POST">
  <fieldset>
    <div class="input">
      <label for="angle">Degrees</label>
      <input type="range" name="angle" id="angle" min="0" max="180">
    </div>
    <div class="input">
      <button id="submit" type="submit" class="btn">Adjust angle</button>
    </div>
  </fieldset>
</form>