{{!< default}}
<form action="/" class="container" method="POST">
  <fieldset>
    <legend>
      <h2>Servo Test</h2>
      <p>Set the degrees below.</p>
    </legend>
    <input type="range" name="angle" min="0" max="180">
    <button type="submit">Adjust angle</button>
  </fieldset>
</form>